name: Test

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3.3.0
        with:
          auto-update-conda: true
          auto-activate-base: false
      - name: Install dependencies
        run: make conda-install
      - name: Lint code with pre-commit
        run: make lint
      - name: Install numba_scfg with pip
        run: make build
      - name: Run pytest and print coverage Report
        run: make test
